<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>visualrecognitionApi_key</key>
    <string>8e10f399d60040b573331a5719c10010afc88bac</string>
    <key>visualrecognitionUrl</key>
    <string>https://gateway-a.watsonplatform.net/visual-recognition/api</string>
    <key>visualrecognitionNote</key>
    <string>It may take up to 5 minutes for this key to become active</string>
    <key>appName</key>
    <string>CustomVisionModelforCoreMLwithWatsonMWDGW</string></dict>
</plist>
